Project.Service/Service References/Executor/ReceiverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReceiverService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/executor?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/executor?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReceiverService_CreateVm_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVm" />
  </wsdl:message>
  <wsdl:message name="IReceiverService_CreateVm_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVmResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiverService_UpdateVm_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVm" />
  </wsdl:message>
  <wsdl:message name="IReceiverService_UpdateVm_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVmResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiverService_StandartVmTask_InputMessage">
    <wsdl:part name="parameters" element="tns:StandartVmTask" />
  </wsdl:message>
  <wsdl:message name="IReceiverService_StandartVmTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:StandartVmTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IReceiverService">
    <wsdl:operation name="CreateVm">
      <wsdl:input wsam:Action="http://tempuri.org/IReceiverService/CreateVm" message="tns:IReceiverService_CreateVm_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IReceiverService/CreateVmResponse" message="tns:IReceiverService_CreateVm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVm">
      <wsdl:input wsam:Action="http://tempuri.org/IReceiverService/UpdateVm" message="tns:IReceiverService_UpdateVm_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IReceiverService/UpdateVmResponse" message="tns:IReceiverService_UpdateVm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StandartVmTask">
      <wsdl:input wsam:Action="http://tempuri.org/IReceiverService/StandartVmTask" message="tns:IReceiverService_StandartVmTask_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IReceiverService/StandartVmTaskResponse" message="tns:IReceiverService_StandartVmTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReceiverService" type="tns:IReceiverService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateVm">
      <soap:operation soapAction="http://tempuri.org/IReceiverService/CreateVm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVm">
      <soap:operation soapAction="http://tempuri.org/IReceiverService/UpdateVm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StandartVmTask">
      <soap:operation soapAction="http://tempuri.org/IReceiverService/StandartVmTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReceiverService">
    <wsdl:port name="BasicHttpBinding_IReceiverService" binding="tns:BasicHttpBinding_IReceiverService">
      <soap:address location="http://localhost:8080/executor" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>